<div class="id-card" [ngClass]="{'editing': isEditing}">
    <div class="id-card-header">
      <div class="id-card-title">
        <i class="fas fa-user"></i>
        ID Card
      </div>
      <button class="edit-btn" (click)="toggleEdit()">
        <i class="fas" [ngClass]="isEditing ? 'fa-check' : 'fa-pen' "></i>
      </button>
    </div>

    <form [formGroup] ="editForm" (ngSubmit)="onSubmit">
      <app-account-info
        [firstName]="user.firstName"
        [lastName]="user.lastName"
        [email]="user.email"
        [phoneNumber]="user.phoneNumber"
        [isEditing]="isEditing">
      </app-account-info>
      <app-address-info
        [homeAddress]="user.homeAddress"
        [mailingAddress]="user.mailingAddress"
        [isEditing]="isEditing">
      </app-address-info>
      <app-personal-info
        [ssn]="user.ssn"
        [birthday]="user.birthday"
        [medicareId]="user.medicareId"
        [isEditing]="isEditing">
      </app-personal-info>
      <app-document-upload
       [isEditing]="isEditing" >
      </app-document-upload>
    </form>
  </div>
  