.id-card {
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 16px;
    background-color: #FFF3FC;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.id-card.editing {
    background-color: #F0EAD6;
}

.id-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    color: #B95319
}

.id-card-title {
    margin-right: 8px;
}

.edit-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    color: #B95319
}

.edit-btn i {
    transition: transform 0.3s;
}

.form-group {
    margin-bottom: 1em;
}

.form-group label {
    display: block;
    font-weight: bold;
    color: #B95319;
}

.form-group input {
    width:100%;
    padding:8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius:4px;
}

.btn {
    margin-right: 8px;
}