.personal-info {
    margin-bottom: 16px;
    font-family: 'Jost', sans-serif;
}

.personal-info h4 {
    color: #B95319;
    font-size: 18px;
    font-weight: bold;
}

.personal-info-item {
    display:flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.personal-info-item label {
    font-weight: bold;
}

@media (max-width: 768px) {
    .personal-info-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .personal-info-item label {
        margin-bottom: 4px;
    }
}