.document-upload {
    margin-bottom: 16px;
    font-family: 'Jost', sans-serif;
}

.document-upload h4 {
    color: #B95319;
}

@media (max-width:768px) {
    .document-upload input {
        width: 100%;
    }
}